/POOII/Generics/trabalhoGenerics/target/
/POOII/aulaSOLID/target/
/Qualidade de Testes/CalculadoraTDD/nbproject/
/Qualidade de Testes/CalculadoraTDD/target/
/POOII/Padroes de Projeto/Adapter/ExemploAdapter/target/
